# تجاهل مجلد البيئة الافتراضية
venv/
.venv/

# تجاهل ملفات البايت كود
__pycache__/
*.py[cod]
*$py.class

# تجاهل ملفات الإعدادات المحلية
instance/
.env

# تجاهل ملفات نظام التشغيل
.DS_Store
Thumbs.db
